
/* contact */


body{
    background-color: #0e1a22;
}
#contact {
    height: max-content;
}

#contact .contact {
    background-color: #0e1a22;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#contact .contact .info {
    width: 400px;
    height: 80;
    margin: 40px;
    /* background-color: #000000; */
    color: white;
    border-radius: 30px;
}

#contact .contact .info .bottom-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#contact .contact .info .bottom-logo img {
    display: block;
    height: 80px;
}



#contact .contact .info h1 {
    font-size: 60px;
    font-family: 'Poiret One', sans-serif;
    text-align: center;
    margin-top: 60px;
}

#contact .contact .info p {
    font-size: 30px;
    font-family: 'Poiret One', sans-serif;
    font-family: 'Jost', sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 80px;
}

#contact .contact .main {
    width: 500px;
    height: 80%;
    margin: 20px;
    background-color: #0e1a22;
    color: #ffffff;
}

#contact .contact .main .form-group {
    /* background-color: #8a3c3c; */
    margin: 20px;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Jost', sans-serif;

}

#contact .contact .main .form-group input,
#contact .contact .main .form-group textarea {
    width: 100%;
    background: #0e1a22;
    border-color: white;
    height: 25px;
    color: white;
}

#contact .contact .main .form-group textarea {
    height: 60px;
}

#contact .contact .main .form-submit {
    width: 100%;
    background: #0e1a22;
    border-color: white;
    color: black;
    display: flex;
    justify-content: flex-end;
}

#contact .contact .main .form-submit button {
    width: 80px;
    height: 30px;
    margin-right: 18px;
    margin-bottom: 18px;
    font-family: 'Jost', sans-serif;
}






/* location */
.location{
    margin: 3% 20%;
    border-radius: 20px;
  }

  .location iframe{
    border-radius: 20px;
  }

  .location h1{
    text-align: center;
    color: white;
  }

  /* responsive location */
  @media screen and (max-width: 768px) {
    .location{
      margin: 6%;
    }
  }
  .SubHeader{
      background-color:#003554;
  }



  /* Footer */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
    font-family: Open Sans;
}

/* section {
    width: 100%;
    display: inline-block;
    background: #333;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
  } */

.footer-distributed {
    background: #132531;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed .footer-left p {
    margin-top: 10px;
    color: rgb(218, 218, 218);
}
/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #7c9dcb;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-family: 'Jost', sans-serif

}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
    font-family: "Roboto Condensed", sans-serif;
    font-family: 'Jost', sans-serif

}

.footer-distributed .footer-center p a {
    color: #7c9dcb;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Poiret One', sans-serif;
    font-weight: 100;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}